/** resets */

* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
} 

a {
  color:#7e8188;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

h1, h2, .card h1 a {
  color: rgb(255,255,255, 0.7);
  text-shadow: 3px 3px 20px rgb(0,33,33,0.3);
  margin: 10px;
  font-size: 1.5em;
}

input[type=text], input[type=password], textarea {
  width: 100%;
  background: #3b424c;
  padding: 10px;
  color: rgb(255, 255, 255, 0.8);
  font-size: x-large;
  border: 1px inset #3b424c;
  border-radius: 10px;
  margin: 0 0 5px 0;
}

textarea {
  height: 150px;
}

button {
  font-size:small;
  color:lightgrey;
  background:#262d37;
  border: 1px solid #000;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  float: right;
}

/** layout */

body { 
  font-family: -apple-system, BlinkMacSystemFont, sans-serif; 
  background: #262d37;
  display: flex;
  flex-direction: column;
}

main {
  width: 800px;
  margin: 20px auto;
  display: flex;
  gap: 20px;
}

/** left col */
main nav {
  
}

/** right col */
main section.content {}

/** elements */

.content .card h2 {
  text-align:left;  
}

.content .card form {
  overflow: hidden;
}

.card h1 a {
  font-size: 1.7em;
}

.p-name {
  margin: 5px;
  font-size: normal;
  color: rgb(255,255,255, 0.7);
}

.hero-container {
  box-shadow: inset 0 0 10px #000000;
  background:#000;
  z-index: -1;
  height: 340px;
  position: fixed;
  left: 0;
  right: 0;
}

.hero {
  width:100%;
  height:100%;
  background-size: 100% 500px;
  background-repeat: no-repeat;
  background-position: center center; 
}

.card {
  border-radius: 10px;
  max-width: 340px;
  min-width: 340px;
  text-align: center;
  background: #303741;
  box-shadow: 3px 3px 20px rgb(0,33,33,0.3);
  margin: 0 0 10px 0;
  padding: 10px;
  color: rgb(255, 255, 255, 0.5);
}

.card a { 
  display:block;
  font-size: small;
  margin: 0 0 5px;
}

.card a:last-child {
  margin: 0 0 20px;
}

.card img.u-photo {
  border-radius: 50%;
  width: 50%;
  border: 3px solid #3b424c;
}

/** h-entry */

article {
  border-radius: 5px;
  background: #3b424c;
  margin: 0 0 5px 0;
  overflow: hidden; 
  position: relative;
  font-size: 1.2em;
}

article .p-author {
  display: none;
}

article h2 {
  text-align: left;
  padding-left: 5px;
  font-size: 0.7em;
}

article .e-content {
  text-align: left;
  margin-top: 15px;
  padding: 10px 10px 10px 10px;
}

article nav {
  position: absolute;
  top: 0;
  right: 0;  
  display: flex;
  flex-basis:  fit-content;
  gap: 7px;
  height: 1.3em;
  margin: 0 7px;
}

form.note-destroy p {
  display:flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.note-destroy > p > a:nth-child(3) {
  margin: 0;
  font-size: 1em;
}
